.container{
    color:rgb(241, 236, 232);
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
    font-family: 'Dancing Script';
    width: 380px;
    height: auto;
    position: relative;
    background: rgba(0,0,0,0.8);
    margin: 3% auto;
    padding: 5px;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 3px grey;
}
