<div class="table-responsive-md view-restaurants">
    <div class="form-title">
        <h4>Restaurante</h4>
    </div>
    <table class="table">
        <thead>
            <tr>
                <!-- <th>ID</th> -->
                <th>Nume Restaurant</th>
                <th>Adresa restaurantului</th>
                <th>Program</th>
                <th>Latitudine</th>
                <th>Longitudine</th>
                <!-- <th>Site-ul restaurantului</th>
                <th>Meniu</th> -->
                <th>Opțiuni</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let dataItem of RestaurantsList">
                <!-- <td>{{dataItem.restaurantId}}</td> -->
                <td>{{dataItem.name}}</td>
                <td>{{dataItem.address}}</td>
                <td>{{dataItem.schedule}}</td>
                <td>{{dataItem.latitude}}</td>
                <td>{{dataItem.longitude}}</td>
                <!-- <td>{{dataItem.restaurantUrl}}</td>
                <td>{{dataItem.menuUrl}}</td> -->
                <td>
                    <button type="button" class="edit btn btn-light mr-1" routerLink="../edit-restaurant/{{dataItem.restaurantId}}">
                        <i class="far fa-edit"></i>
                    </button>
                    <button type="button" class="delete btn btn-light mr-1" (click)="deleteItem(dataItem)">
                        <i class="fas fa-trash-alt"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
