<form id="hotels" class="hotels" action="#" method="post">
    <div class="form-title">
        <h4>Hoteluri</h4><hr>
    </div>

    <div class="row components">
        <div class="col-md-5 m-auto">
            <div class="form-group">
                <img src="../../../assets/Hotels/hotel-icon.jpg" class="image" alt="">
                <button class="button">Încarcă fotografia</button>
            </div>
        </div>
        
        <div class="add-hotel col-md-7 m-auto">
            <div class="form-group">
                <input type="text" name="hotel_name" placeholder="Nume hotel" class="form-control" required>
            </div>
            <div class="form-group">
                <input type="text" name="hotel_adress" placeholder="Adresa" class="form-control" required>
            </div>
            <div class="form-group">
                <input type="text" name="hotel_rooms" placeholder="Număr camere disponibile" class="form-control" required>
            </div>
            <div class="form-group">
                <input type="text" name="adults" placeholder="Adulți" class="form-control" required>
            </div>
            <div class="form-group">
                <input type="text" name="children" placeholder="Copii" class="form-control" required>
            </div>
            <div class="form-group">
                <input type="text" name="hotel_price" placeholder="Preț" class="form-control" required>
            </div>
            <div class="form-group">
                <input type="text" name="hotel_latitude" placeholder="Latitudine" class="form-control" required>
            </div>
            <div class="form-group">
                <input type="text" name="hotel_longitude" placeholder="Longitudine" class="form-control" required>
            </div>

            <div class="form-group">
                <button type="submit" class="button">Adaugă hotel</button>
            </div>
        </div>
    </div><hr>    
    
    <p>list of hotels</p>
</form>
