<div class="container">
    <div class="form-title">
        <h4>Actualizează restaurant</h4>
    </div>
    <form #f="ngForm" (ngSubmit)="editRestaurant(f)">
        <hr>
        <div class="row components">
            <div class="col-md-5 m-auto set-photo">
                <div class="form-group">
                    <input type="image" src="{{restaurantImage}}" class="image" alt="" name="photo"
                    (change)="uploadImage($event)">
                    <input class="upload py-2" type="file" accept=".jpg,.jpef,.png,.gif" id="customFile"
                        (change)="uploadImage($event)" name="photo" required>
                    <div class="file-validation">{{wrongImageFormat}}</div>
                    <input class="upload py-2" type="hidden" [(ngModel)]="restaurant.photo" accept=".jpg,.jpef,.png,.gif" id="customFile"
                        (change)="uploadImage($event)" name="photo" required>
                </div>
            </div>

            <div class="add-hotel col-md-7 m-auto">
                <div class="row">
                    <input type="hidden" name="restaurantId" [(ngModel)]="restaurant.restaurantId" required>
                </div>

                <div class="row">
                    <label class="col-md-3 m-auto" for="name">Nume restaurant: </label>
                    <div class="form-group col-md-9 m-auto">
                        <input type="text" name="name" [(ngModel)]="restaurant.name" placeholder="Nume restaurant"
                            class="form-control" required>
                    </div>
                </div>


                <div class="row">
                    <label class="col-md-3 m-auto" for="address">Adresa: </label>
                    <div class="form-group col-md-9 m-auto">
                        <input type="text" name="address" [(ngModel)]="restaurant.address" placeholder="Adresa"
                            class="form-control" required>
                    </div>
                </div>

                <div class="row">
                    <label class="col-md-3 m-auto" for="schedule">Program: </label>
                    <div class="form-group col-md-9 m-auto">
                        <input type="text" name="schedule" [(ngModel)]="restaurant.schedule" placeholder="Program"
                            class="form-control" required>
                    </div>
                </div>

                <div class="row">
                    <label class="col-md-3 m-auto" for="latitude">Latitudine: </label>
                    <div class="form-group col-md-9 m-auto">
                        <input type="text" name="latitude" [(ngModel)]="restaurant.latitude" placeholder="Latitudine"
                            class="form-control" required>
                    </div>
                </div>

                <div class="row">
                    <label class="col-md-3 m-auto" for="longitude">Longitudine: </label>
                    <div class="form-group col-md-9 m-auto">
                        <input type="text" name="longitude" [(ngModel)]="restaurant.longitude" placeholder="Longitudine"
                            class="form-control" required>
                    </div>
                </div>

                <div class="row">
                    <label class="col-md-3 m-auto" for="restaurantUrl">Site-ul restaurantului: </label>
                    <div class="form-group col-md-9 m-auto">
                        <input type="text" name="restaurantUrl" [(ngModel)]="restaurant.restaurantUrl"
                            placeholder="Site-ul restaurantului" class="form-control" required>
                    </div>
                </div>

                <div class="row">
                    <label class="col-md-3 m-auto" for="menuUrl">Meniu: </label>
                    <div class="form-group col-md-9 m-auto">
                        <input type="text" name="menuUrl" [(ngModel)]="restaurant.menuUrl" placeholder="Meniu"
                            class="form-control" required>
                    </div>
                </div>

                <div class="form-group">
                    <div class="alert-msg">
                        <div style="color: red; font-size: 16px">
                            {{emptyData}}
                        </div>
                        <div *ngIf="successMessage" class="alert alert-success" role="alert">
                            <strong>Minunat!</strong> {{ successMessage }}
                        </div>
                        <div *ngIf="failMessage" class="alert alert-danger" role="alert">
                            <strong>Uups!</strong> {{ failMessage }}
                        </div>
                    </div>

                    <button type="submit" class="button">Actualizează restaurant</button>
                </div>
            </div>
        </div>
    </form>
</div>