.title{
    text-align: center;
}

hr{
    background: white;
}

.input-date input, .output-date input, .time input{
    width: 100%!important;
    text-align: center;
    border: none;
    border-radius: 25px;
    margin-bottom: 3%;
 }
 
 .input-date, .output-date{
    margin: auto;
    padding: auto;
    text-align: center;
 }

 .reservation{
     display: flex;
     margin: auto;
 }

 .label{
    margin: auto;
    padding: auto;
 }

 i{
     font-size: large;
 }
 
 .data, .guests, .price, .time{
    margin-bottom: 3%;
    padding: 2%;
    box-shadow: 0px 0px 10px 3px #ffffffb9;
 }

 .button{
    width: 55%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    margin-bottom: 2%;
    border: 0;
    outline: none;
    background: linear-gradient(to right,#75213d,#dc990f);
    border-radius: 30px;
    color: #fff;
  }

  .button:hover{
    color:rgb(61, 60, 60);
  }

  .alert-msg{
      width: 100%;
  }