.container{
  color:rgb(241, 236, 232);
  -webkit-font-smoothing: antialiased;
  font: normal 16px Roboto,arial,sans-serif;
  font-family: 'Dancing Script', cursive;
  width: 100%;
  height: auto;
  position: relative;
  background: rgba(0,0,0,0.8);
  margin-top: 1%;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0px 0px 10px 3px grey;
}

.title{
    text-align: center;
   
}

hr{
    background: white;
}

.button-forms{
    width: 100%;
    height: 46px;
    border: 0;
    outline: none;
    background: linear-gradient(to right,#75213d,#dc990f);
  }

  .btn-group{
    /* padding-top: 5px; */
    float: right;
    background: none!important;
  }

  .btn{
    cursor: pointer;
    color: #fff;
    outline: none;
    background: none!important;
  }

  .btn:hover{
    color:rgb(61, 60, 60);
  }

  .dropdown-menu{
    border: none;
    background: linear-gradient(to right,#75213d,#974b0d);
  }

 .button{
    color: #fff;
    transition-property: background;
  }

  .button:hover{
    background: linear-gradient(to right,#75213d,#dc990f);
  }

  .form-card{
    width: 100%!important;
    margin: auto;
    margin-top: 3%;
    margin-bottom: 3%;
    padding-left: 3%;
    padding-right: 3%;
  }