<div class="container">
    <div class="formular">
        <div class="title">
            <h4>Administrator</h4>
        </div>
        <hr>

        <div class="forms">
            <div class="button-forms m-auto">
                <div class="btn-group">
                    <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
                        <button class="btn" routerLink="admin-reservation" type="button">Rezervări</button>
                    </div>

                    <!-- <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
                        <button class="btn" routerLink="admin-reservation" type="button">Călătorii</button>
                    </div> -->
    
                    <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
                        <button class="btn" ngbDropdownToggle>Restaurante</button>
                        <div class="dropdown-menu" ngbDropdownMenu>
                            <button class="button" routerLink="view-restaurants" ngbDropdownItem>Lista restaurante</button>
                            <button class="button" routerLink="add-restaurant" ngbDropdownItem>Adaugă restaurant</button>
                        </div>
                    </div>
    
                    <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
                        <button class="btn" ngbDropdownToggle>Hoteluri</button>
                        <div class="dropdown-menu" ngbDropdownMenu>
                            <button class="button" routerLink="view-hotels" ngbDropdownItem>Lista
                                hoteluri</button>
                            <button class="button" routerLink="add-hotel" ngbDropdownItem>Adaugă hotel</button>
                        </div>
                    </div>
    
                    <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
                        <button class="btn" ngbDropdownToggle>Obiective turistice</button>
                        <div class="dropdown-menu" ngbDropdownMenu>
                            <button class="button" routerLink="view-objectives" ngbDropdownItem>Lista
                                obiective turistice</button>
                            <button class="button" routerLink="add-objective" ngbDropdownItem>Adaugă obiectiv</button>
                        </div>
                    </div>
                </div>
            </div>            

            <div class="form-card">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>