<form [formGroup]="userSaveForm" id="register" class="input-group" autocomplete="off" novalidate>
    <div class="form-title text-center py-2">
        <h4>Înregistrare</h4>
        <hr>
    </div><br>

    <div *ngIf="showError" class="alert alert-danger" role="alert">
        {{failMessage}}
    </div>
    <div *ngIf="showSuccess" class="alert alert-success m-auto" role="alert">
        {{successMessage}}
    </div>
    
    <div class="form-group">
        <input type="text" name="nume_prenume" [(ngModel)]="firstLastName" formControlName="userFirstLastName"
            placeholder="Nume și Prenume" class="form-control" required>
    </div>
    <div class="form-group">
        <em *ngIf="validateControl('userFirstLastName') && hasError('userFirstLastName', 'required')" class="m-auto">Introduceți numele și prenumele</em>
    </div>

    <div class="form-group">
        <input type="text" name="nr_telefon" [(ngModel)]="phoneNumber" formControlName="userPhoneNumber"
            placeholder="Număr de telefon" class="form-control" required>
    </div>
    <div class="form-group">
        <em *ngIf="validateControl('userPhoneNumber') && hasError('userPhoneNumber', 'required')" class="m-auto">Introduceți numărul de telefon</em>
    </div>

    <div class="form-group">
        <input type="email" name="adr_email" [(ngModel)]="email" formControlName="userEmail" placeholder="E-mail"
            class="form-control" required>
    </div>
    <div class="form-group">
        <em *ngIf="validateControl('userEmail') && hasError('userEmail', 'required')" class="m-auto">Adresa de e-mail este obligatorie</em>
    </div>

    <div class="form-group">
        <input type="text" name="nume_utilizator" [(ngModel)]="username" formControlName="uUsername"
            placeholder="Nume utilizator" class="form-control" required>
    </div>
    <div class="form-group">
        <em *ngIf="validateControl('uUsername') && hasError('uUsername', 'required')" class="m-auto">Username-ul este obligatoriu</em>
    </div>

    <div class="form-group">
        <input type="password" name="parola" [(ngModel)]="password" formControlName="userPassword" placeholder="Parola"
            class="form-control" required>
    </div>
    <div class="form-group">
        <em *ngIf="validateControl('userPassword') && hasError('userPassword', 'required')" class="m-auto">Parola este obligatorie</em>
    </div>

    <div class="button-group">
        <button type="submit" (click)="checkUser()" class="button">Înregistrare</button>
        <button type="button" routerLink="../login" class="button">Autentificare</button>
    </div>
</form>