<form id="forgotten-password" class="input-group" action="#" method="post">
    <div class="form-title">
        <h4>Ați uitat parola?</h4><hr>
    </div><br>
    <div class="form-group">
        <input type="text" name="adr_email" placeholder="E-mail" class="form-control" required><br>
    </div>
    <div class="form-group">
        <p>Vă vom trimite un e-mail cu un link de resetare a parolei.</p>
    </div>
    <div class="button-group">
        <button type="submit" class="button">Trimiteți e-mail de resetare</button>
        <button type="button" routerLink="../login" class="button">Anulare</button>
    </div>
</form>