<div class="container">
    <section class="top-side" [hidden]="openedFilter">
        <div class="title">
            <h2>Cazare</h2>
        </div>
        <div class="row reservation">
            <div class="col-md-4 m-auto">
                <app-carousel></app-carousel>
            </div>

            <div class="col-md-8 m-auto">
                <div class="row details">
                    <div class="col-md-6 m-auto">
                        <div class="input-date">
                            <label>Data cazării: </label><br>
                            <input type="date" class="calendar">
                        </div>
                        <div class="output-date">
                            <label>Data decazării: </label><br>
                            <input type="date" class="calendar">
                        </div>
                    </div>
                    
                    <div class="guests col-md-6 m-auto">
                        <label>Preferințe:</label><br>
                        <div class="row rooms">
                            <div class="col-6">
                                <i class="fas fa-bed"></i>
                                <label> Camere: </label>
                            </div>
                            
                            <div class="col-6 m-auto input-dates">
                                <div class="input-group input-number-group">
                                    <div class="input-group-button">
                                        <button class="input-number-decrement" (click)= "decrement('rooms')">-</button>
                                    </div>
                                    <input class="input-number" type="number" [(ngModel)]="rooms" value="{{rooms}}">
                                    <div class="input-group-button">
                                        <button class="input-number-increment" (click)= "increment('rooms')">+</button>
                                    </div>
                                </div> 
                            </div>     
                        </div>

                        <div class="row adults">
                            <div class="col-6 m-auto">
                                <i class="fas fa-users"></i>
                                <label> Adulți: </label>
                            </div>
                            
                            <div class="col-6 m-auto input-dates">
                                <div class="input-group input-number-group">
                                    <div class="input-group-button">
                                        <button class="input-number-decrement" (click)= "decrement('adults')">-</button>
                                    </div>
                                    <input class="input-number" type="number" [(ngModel)]="adults" value="{{adults}}">
                                    <div class="input-group-button">
                                        <button class="input-number-increment" (click)= "increment('adults')">+</button><br>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row children">
                            <div class="col-6 m-auto">
                                <i class="fas fa-baby"></i>
                                <label> Copii: </label>
                            </div>
                            
                            <div class="col-6 m-auto input-dates">
                                <div class="input-group input-number-group">
                                    <div class="input-group-button">
                                        <button class="input-number-decrement" (click)= "decrement('children')">-</button>
                                    </div>
                                    <input class="input-number" type="number" [(ngModel)]="children" value="{{children}}">
                                    <div class="input-group-button">
                                        <button class="input-number-increment" (click)= "increment('children')">+</button>
                                    </div>
                                </div> 
                            </div>
                        </div>
                    </div>
                </div> 

                <div class="row choose-button">
                    <button class="button">Caută</button>
                </div>
            </div> 
        </div>
    </section>

    <section class="second-side" [hidden]="openedHotel">
        <div class="row sleep">
            <p>„Nimic nu te face să te simți mai bine decât atunci când intri într-un pat de hotel, iar cearșafurile se simt atât de bine.” - Bobby Berk</p>
        </div>
        <hr>
        <div class="view-hotels" *ngFor="let hotel of HotelsList">
            <div class="row hotel">
                <div class="col-md-4 image-hotel">
                    <img src="../../../assets/Carousel/kronwell.jpg" alt="">
                </div>
                <div class="col-md-5 name-hotel">
                    <a href="{{hotel.hotelUrl}}"><h4>{{hotel.name}}</h4></a>
                    <h5>Adresa: {{hotel.address}}</h5>
                    <p>
                        Camere disponibile: {{hotel.rooms}}<br>
                        Adulți: {{hotel.adults}}<br>
                        Copii: {{hotel.children}}
                    </p>
                </div>
                <div class="col-md-3 m-auto price">
                    <h6 style="text-align: center;">Preț: {{hotel.price}} RON</h6><br>
                    <button class="button-reservation" routerLink="reservation/{{hotel.hotelId}}" (click)="toggle()">Fă o rezervare</button>
                </div>
            </div>
            <hr>
        </div>
    </section>

    <section [hidden]="openedReservation">
        <router-outlet></router-outlet>
    </section>
</div>
