<form id="login" class="input-group" action="#" method="post">
    <div class="form-title">
        <h4>Autentificare</h4><hr>
    </div><br>

    <div class="form-group">
        <br><input type="text" name="nume_utilizator" placeholder="Nume utilizator" class="form-control" required>
    </div>
    <div class="form-group">
        <input type="password" name="parola" placeholder="Parola" class="form-control" required><br>
    </div>
    <div class="form-group">
        <button type="button" class="forgottenButton mr-3" routerLink="../forgotten-password">Ați uitat parola?</button>
    </div><br><br>
    <div class="button-group">
        <button type="submit" class="button">Autentificare</button>
        <button type="button" routerLink="../register" class="button">Înregistrare</button>
    </div>
</form>