<form class="input-group" [formGroup]="resetPasswordForm" autocomplete="off" novalidate (ngSubmit)="resetPassword(resetPasswordForm.value)">
    <div class="form-title">
        <h4>Resetează parola</h4><hr>
    </div><br>

    <div *ngIf="showError" class="alert alert-danger" role="alert">
        <span [innerHTML]="errorMessage"></span>
    </div>

    <div *ngIf="showSuccess" class="alert alert-success" role="alert">
        Parola dumneavoastră a fost resetată. <a [routerLink]="['/login-register/login']">Dați click aici pentru a vă autentifica. </a>
    </div>
    
    <div class="form-group">
        <input type="password" name="new_password" formControlName="password" placeholder="Introduceți noua parolă" class="form-control" required><br>
        <div class="col-md-5">
            <em *ngIf="validateControl('password') && hasError('password', 'required')">Parola este obligatorie</em>
        </div>
    </div>
    <div class="form-group">
        <input type="password" name="cofirm_password" formControlName="confirm" placeholder="Confirmați noua parolă" class="form-control" required><br>
        <div class="col-md-5">
            <em *ngIf="validateControl('confirm') && hasError('confirm', 'required')">Confirmarea este obligatorie</em>
            <em *ngIf="hasError('confirm', 'mustMatch')">Parolele trebuie să fie asemănătoare</em>
        </div>
    </div>
    <div class="button-group">
        <button type="submit" class="button" [disabled]="!resetPasswordForm.valid">Resetare parolă</button>
        <button type="button" routerLink="../login" class="button">Anulare</button>
    </div>
</form>