<div class="container">
    <div class="title">
        <h4>Explorăm Brașovul împreună</h4>
    </div>
    <hr>

    <div class="about-brasov">
        <app-gallery></app-gallery>
        <h5>Despre Brașov</h5>
        <div class="row">
            <div class="col-md-6 m-auto description">
                <p>Brașov este reședința și cel mai mare oraș al judeșului Brașov, Transilvania, România.
                    Aflat între marile trecători ale Carpaților (Bran, Predeal, Oituz, Buzău), Brașovul devine înca în urma cu 700 de ani un punct de 
                    legătură între Transilvania, Țara Românească și Moldova, precum și cu centrul Europei și Orient și totodată un puternic centru 
                    meșteșugăresc, comercial și cultural.
                    Astăzi, Brașovul este unul din principalele centre economice, culturale și sportive ale țării, fiind totodată și un important centru 
                    turistic și un oras al monumentelor istorice ca: Biserica Neagră, bastioanele cetății, statuia lui Johannes Honterus, Casa Sfatului, 
                    Liceul Andrei Saguna, Scheii Brașovului, Biserica Sf. Nicolae, prima școală românească etc.
                    În prezent, Brașovul este un oraș privilegiat; între granițele lui puteți să vă bucurați de crestele semețe ale munților Postăvaru, 
                    Bucegi, Piatra Mare, de Muntele Tâmpa și de una din cele mai râvnite stațiuni din România - Poiana Brașov. 
                </p>
            </div>
            <div class="col-md-6 m-auto maps" *ngIf="apiLoaded | async">
                <google-map [options]="options"></google-map>
            </div>
        </div>
        
    </div>
</div>