.container{
    color:rgb(241, 236, 232);
    -webkit-font-smoothing: antialiased;
    font: normal 16px Roboto,arial,sans-serif;
    font-family: 'Dancing Script', cursive;
    width: 100%;
    height: auto;
    position: relative;
    background: rgba(0,0,0,0.8);
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 3px grey;
}

.title{
    text-align: center;
   
}

hr{
    background: white;
}

.about-brasov{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

google-map {
    height: 300px auto;
    margin-left: auto;
    margin-right: auto;
}