<div class="container">
    <div class="form-title">
        <h4>Adaugă un nou hotel</h4>
    </div>
    <form novalidate autocomplete="off" [formGroup]="hotelSaveForm"><hr>
        <div class="row components">
            <div class="col-md-5 m-auto">
                <div class="form-group">
                    <img src="../../../assets/Hotels/hotel-icon.jpg" class="image" alt="">        
                    <input class="upload py-2" type="file" accept=".jpg,.jpef,.png,.gif" id="customFile"
                        (change)="uploadImage($event)" formControlName="hotelPhoto" required>
                    <div class="file-validation">{{wrongImageFormat}}</div>
                    <button class="button">Încarcă fotografia</button>
                </div>
            </div>
            
            <div class="add-hotel col-md-7 m-auto">
                <div class="form-group">
                    <input type="text" name="hotel_name" [(ngModel)]="name" formControlName="hotelName" 
                    placeholder="Nume hotel" class="form-control" required>
                </div>
                <div class="form-group">
                    <input type="text" name="hotel_address" [(ngModel)]="address" formControlName="hotelAddress" 
                    placeholder="Adresa" class="form-control" required>
                </div>
                <div class="form-group">
                    <input type="text" name="hotel_rooms" [(ngModel)]="rooms" formControlName="hotelRooms" 
                    placeholder="Număr camere disponibile" class="form-control" required>
                </div>
                <div class="form-group">
                    <input type="text" name="hotel_adults" [(ngModel)]="adults" formControlName="hotelAdults" 
                    placeholder="Adulți" class="form-control" required>
                </div>
                <div class="form-group">
                    <input type="text" name="hotel_children" [(ngModel)]="children" formControlName="hotelChildren" 
                    placeholder="Copii" class="form-control" required>
                </div>
                <div class="form-group">
                    <input type="text" name="hotel_price" [(ngModel)]="price" formControlName="hotelPrice" 
                    placeholder="Preț" class="form-control" required>
                </div>
                <div class="form-group">
                    <input type="text" name="hotel_latitude" [(ngModel)]="latitude" formControlName="hotelLatitude" 
                    placeholder="Latitudine" class="form-control" required>
                </div>
                <div class="form-group">
                    <input type="text" name="hotel_longitude" [(ngModel)]="longitude" formControlName="hotelLongitude"
                    placeholder="Longitudine" class="form-control" required>
                </div>
        
                <div class="form-group">
                    <div class="alert-msg">
                        <div style="color: red; font-size: 16px">
                            {{emptyData}}
                        </div>
                        <div *ngIf="successMessage" class="alert alert-success" role="alert">
                            <strong>Minunat!</strong> {{ successMessage }}
                        </div>
                        <div *ngIf="failMessage" class="alert alert-danger" role="alert">
                            <strong>Uups!</strong> {{ failMessage }}
                        </div>
                    </div>
        
                    <button type="submit" (click)="checkHotel()" class="button btn btn-outline-success">Adaugă hotel</button>
                </div>
            </div>
        </div>    
    </form>
</div>