<form id="reservation" class="reservation" action="#" method="post">
    <div class="form-title">
        <h5>Rezervări</h5>
    </div>
    
    <table class="table">
        <thead>
            <tr>
                <th>Numele utilizatorului</th>
                <th>Numele rezervării</th>
                <th>Data de început</th>
                <th>Data de final</th>
                <th>Intervalul orar</th>
                <th>Preț</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let dataItem of ReservationsList">
                <td>{{dataItem.username}}</td>
                <td>{{dataItem.reservationName}}</td>
                <td>{{dataItem.startDate}}</td>
                <td>{{dataItem.endDate}}</td>
                <td>{{dataItem.time}}</td>
                <td>{{dataItem.price}}</td>
            </tr>
        </tbody>
    </table>
</form>
