.container{
    color:rgb(241, 236, 232);
    -webkit-font-smoothing: antialiased;
    font: normal 16px Roboto,arial,sans-serif;
    font-family: 'Dancing Script', cursive;
    width: 100vw;
    height: auto;
    position: relative;
    background: rgba(0,0,0,0.8);
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 3px grey;
}

.title{
    text-align: center;
   
}

hr{
    background: white;
}

.button{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin:5px auto;
    border: 0;
    outline: none;
    background: linear-gradient(to right,#75213d,#dc990f);
    border-radius: 30px;
    color: #fff;
  }

  .button:hover{
    color:rgb(61, 60, 60);
  }
  
  .input-group{
    top:10px;
    position: absolute;
    width: 280px;
    transition: .5s;
  }

  .form-control{
    width: 90%;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #fff;
    border-radius: 0px 5px;
    outline: none;
    background: transparent;
    color:white;
    font-size: 16px!important;
    margin-left: 2%;
  }

  label{
    margin-left: 2%;
  }
  
  .form-group{
    width: 100%;
    margin: 3px;
    margin-top: 5%;
    padding: 0!important;
  }

  .edit-button{
    width: 250px;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin:5px auto;
    border: 0;
    outline: none;
    background: linear-gradient(to right,#75213d,#dc990f);
    border-radius: 30px;
    color: #fff;
  }

  .edit-button:hover{
    color:rgb(61, 60, 60);
  }

  .profile-photo{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    margin-left: 30%;
  }

  .user-name{
    color: #ccc;
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 22px;
    font: normal 16px Roboto,arial,sans-serif;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

  .profile{
    margin: auto;
    padding-top: 5%;
    padding-bottom: 5%;
    align-items: center;
  }

  .profile-form{
    margin: auto;
    margin-top: 3%;
    margin-bottom: 3%;
    padding-left: 3%;
    border-top: none;
    border-right: none;
    border-bottom: none;
    border-left: 1px solid white;
  }