.container{
    color:rgb(241, 236, 232);
    -webkit-font-smoothing: antialiased;
    font: normal 16px Roboto,arial,sans-serif;
    font-family: 'Dancing Script', cursive;
    width: 100%;
    height: auto;
    position: relative;
    background: rgba(0,0,0,0.8);
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 3px grey;
}

.restaurants{
    height: auto;
}

.title{
    text-align: center;
   
}

hr{
    background: white;
}

.button-reservation{
    width: 98%;
    padding: 10px 30px;
    cursor: pointer;
    margin-left:auto;
    margin-right: auto;
    border: 0;
    outline: none;
    background: linear-gradient(to right,#75213d,#dc990f);
    border-radius: 30px;
    color: #fff;
  }

  .button-reservation:hover{
    color:rgb(61, 60, 60);
  }

  section{
      margin: auto;
      width: 94%;
  }

  a{
    color:rgb(241, 236, 232);
  }

  a:hover{
      color:rgb(124, 124, 124)
  }