<div class="container">
    <section [hidden]="openedRestaurant">
        <div class="title">
            <h4>Restaurante în Brașov</h4>
        </div>
        <hr>

        <div class="view-restaurants" *ngFor="let restaurant of restaurantsList">
            <div class="row restaurants">
                <div class="col-4 image m-auto">
                    <img src="../../../assets/Restaurante/greek-restaurant.jpg" alt="">
                </div>
                <div class="col-5 details m-auto">
                    <a href="{{restaurant.restaurantUrl}}"><h4>{{restaurant.name}}</h4></a>
                    <h5>Adresa: {{restaurant.address}}</h5>
                    <p>{{restaurant.schedule}}</p>
                    <a href="{{restaurant.menuUrl}}">Vezi meniul</a>
                    <!--isOpendRestaurant-->
                </div>
                <div class="col-3 m-auto">
                    <button class="button-reservation" (click)="toggle()" routerLink="reserve-restaurant/{{restaurant.restaurantId}}">Fă o rezervare</button>
                </div>
            </div>
            <hr>
        </div>
    </section>

    <section [hidden]="openedReservation">
        <router-outlet></router-outlet>
    </section>
</div>