<div class="form-title">
    <h4>Actualizează hotel</h4>
</div>
<form #f="ngForm" (ngSubmit)="editHotel(f)">
    <hr>
    <div class="row components">
        <div class="col-md-5 m-auto set-photo">
            <div class="form-group">
                <input type="image" src="{{hotelImage}}" class="image" alt="" name="photo"
                        (change)="uploadImage($event)">
                <input class="upload py-2" type="file" accept=".jpg,.jpef,.png,.gif" id="customFile"
                    (change)="uploadImage($event)" name="photo" required>
                <div class="file-validation">{{wrongImageFormat}}</div>
                <input class="upload py-2" type="hidden" [(ngModel)]="hotel.photo" accept=".jpg,.jpef,.png,.gif"
                    id="customFile" (change)="uploadImage($event)" name="photo" required>
            </div>
        </div>

        <div class="add-hotel col-md-7 m-auto">
            <input type="hidden" name="hotelId" [(ngModel)]="hotel.hotelId" placeholder="Id hotel" required>

            <div class="row">
                <label class="col-md-3 m-auto" for="name">Nume hotel: </label>
                <div class="form-group col-md-9 m-auto">
                    <input type="text" name="name" [(ngModel)]="hotel.name" placeholder="Nume hotel"
                        class="form-control" required>
                </div>
            </div>

            <div class="row">
                <label class="col-md-3 m-auto" for="address">Adresa: </label>
                <div class="form-group col-md-9 m-auto">
                    <input type="text" name="address" [(ngModel)]="hotel.address" placeholder="Adresa"
                        class="form-control" required>
                </div>
            </div>

            <div class="row">
                <label class="col-md-3 m-auto" for="rooms">Număr camere: </label>
                <div class="form-group col-md-9 m-auto">
                    <input type="text" name="rooms" [(ngModel)]="hotel.rooms" placeholder="Număr camere disponibile"
                        class="form-control" required>
                </div>
            </div>

            <div class="row">
                <label class="col-md-3 m-auto" for="adults">Adulți: </label>
                <div class="form-group col-md-9 m-auto">
                    <input type="text" name="adults" [(ngModel)]="hotel.adults" placeholder="Adulți"
                        class="form-control" required>
                </div>
            </div>

            <div class="row">
                <label class="col-md-3 m-auto" for="children">Copii: </label>
                <div class="form-group col-md-9 m-auto">
                    <input type="text" name="children" [(ngModel)]="hotel.children" placeholder="Copii"
                        class="form-control" required>
                </div>
            </div>

            <div class="row">
                <label class="col-md-3 m-auto" for="price">Preț: </label>
                <div class="form-group col-md-9 m-auto">
                    <input type="text" name="price" [(ngModel)]="hotel.price" placeholder="Preț" class="form-control"
                        required>
                </div>
            </div>

            <div class="row">
                <label class="col-md-3 m-auto" for="latitude">Latitudine: </label>
                <div class="form-group col-md-9 m-auto">
                    <input type="text" name="latitude" [(ngModel)]="hotel.latitude" placeholder="Latitudine"
                        class="form-control" required>
                </div>
            </div>

            <div class="row">
                <label class="col-md-3 m-auto" for="longitude">Longitudine: </label>
                <div class="form-group col-md-9 m-auto">
                    <input type="text" name="longitude" [(ngModel)]="hotel.longitude" placeholder="Longitudine"
                        class="form-control" required>
                </div>
            </div>

            <div class="row">
                <label class="col-md-3 m-auto" for="hotelUrl">Site-ul hotelului: </label>
                <div class="form-group col-md-9 m-auto">
                    <input type="text" name="hotelUrl" [(ngModel)]="hotel.hotelUrl" placeholder="Site-ul hotelului"
                        class="form-control" required>
                </div>
            </div>

            <div class="form-group">
                <div class="alert-msg">
                    <div style="color: red; font-size: 16px">
                        {{emptyData}}
                    </div>
                    <div *ngIf="successMessage" class="alert alert-success" role="alert">
                        <strong>Minunat!</strong> {{ successMessage }}
                    </div>
                    <div *ngIf="failMessage" class="alert alert-danger" role="alert">
                        <strong>Uups!</strong> {{ failMessage }}
                    </div>
                </div>

                <button type="submit" class="button btn">Actualizează hotel</button>
            </div>
        </div>
    </div>
</form>