<div class="table-responsive-md view-objectives">
    <div class="form-title">
        <h4>Obiective turistice</h4>
    </div>
    <table class="table">
        <thead>
            <tr>
                <!-- <th>ID</th> -->
                <th>Denumire</th>
                <th>Adresa</th>
                <th>Descriere</th>
                <th>Program</th>
                <th>Latitudine</th>
                <th>Longitudine</th>
                <th>Opțiuni</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let dataItem of ObjectivesList">
                <!-- <td>{{dataItem.objectiveId}}</td> -->
                <td class="m-auto">{{dataItem.name}}</td>
                <td class="m-auto">{{dataItem.address}}</td>
                <td class="m-auto">{{dataItem.description}}</td>
                <td class="m-auto">{{dataItem.schedule}}</td>
                <td class="m-auto">{{dataItem.latitude}}</td>
                <td class="m-auto">{{dataItem.longitude}}</td>
                <td class="m-auto">
                    <button type="button" class="edit btn btn-light mr-1" routerLink="../edit-objective/{{dataItem.objectiveId}}">
                        <i class="far fa-edit"></i>
                    </button>
                    <button type="button" class="delete btn btn-light mr-1" (click)="deleteItem(dataItem)">
                        <i class="fas fa-trash-alt"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
