<hr>
<div class="row content">
    <div class="col-md-6">
        <mat-selection-list color="primary" #objectives>
            <mat-list-option *ngFor="let objective of objectivesList">
              {{ objective.name }}
            </mat-list-option>
          </mat-selection-list>
          
          <p>
            Opțiuni selectate: {{ objectives.selectedOptions.selected.length }}
          </p>
          <button type="submit" class="button" (click)="orderSelectedObjectives()">Gata</button>
    </div>
    <div class="col-md-6">

    </div>
</div>
